# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=braunicore

# Make this the same as your github username/organisation
REPO_ORGANIZATION="herobrauni"

IMAGE_DESC="A thin, signed uCore minimal derivative for the braunicore VPS fleet"
DEFAULT_TAG="stable"
