[Unit]
Description=Persistent Nix store
DefaultDependencies=no
Requires=nix-prepare.service
After=nix-prepare.service
Before=local-fs.target

[Mount]
What=/var/lib/nix
Where=/nix
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
