[Unit]
Description=Beszel monitoring agent
Documentation=https://www.beszel.dev/guide/agent-installation
ConditionPathExists=/etc/beszel-agent.env
Requires=podman.socket
After=podman.socket

[Container]
ContainerName=beszel-agent
Image=docker.io/henrygd/beszel-agent:0.18.8@sha256:3b1939746690e423072b4a99bf4c4af6dd9562a68978a33738a3c4a4cc000c39
Pull=missing
Network=host
Environment=LISTEN=45876
Environment=DATA_DIR=/var/lib/beszel-agent
EnvironmentFile=/etc/beszel-agent.env
Volume=/var/lib/beszel-agent:/var/lib/beszel-agent:Z
Volume=/run/podman/podman.sock:/var/run/docker.sock:ro
Volume=/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
ReadOnly=true
SecurityLabelDisable=true

[Service]
Restart=on-failure
RestartSec=30s
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
